* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block-main {
    display: flex;
}

.block-main .sidebar-admin {
    width: 20%;
    background-color: #343a40;
    height: 100vh;
    border-right: 2px solid rgba(23, 21, 65, 0.8);
    color: #c2c7d0;
}

.block-main .page-admin {
    width: 80%;
    height: 100vh;
}

/* header */
#header {
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(11, 31, 54);
}

#header .btnSidebar {
    width: 41px;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#header .block-user {
    width: max-content;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    height: 100%;
}

#header .block-user:hover .sub-nav {
    display: block;
}

#header .img-user {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 100%;
    padding: 15px;
}

#header .username {
    margin: 0;
    padding:0;
    vertical-align: middle;
}

#header .sub-nav {
    position: absolute;
    width: max-content;
    margin: 0;
    padding: 0;
    left: 20px;
    top: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
    transition: all 0.3s;
}

#header .sub-nav a.link-nav {
    padding: 6px 16px;
    display: block;
    color: black;
    background-color: white;
    z-index: 1;
    border: none;
}

#header .sub-nav a.link-nav:hover {
    background-color: #CCCCCC;
}

/* sidebar */
.sidebar-admin .logo-admin {
    height: 60px;
    border-bottom: 1px solid rgb(139, 139, 139);
    text-align: center;
}

.sidebar-admin .logo-admin a {
    display: block;
    height: 100%;
    margin: auto;
    padding: 8px;
    width: 55%;
}

.sidebar-admin .logo-sidebar {
    display: block;
    object-fit: cover;
    width: 100%;
}

.sidebar-admin .title-sidebar {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    height: 44px;
    line-height: 44px;
    font-weight: 600;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.sidebar-admin .body-sidebar {
    /* overflow-y: scroll; */
    height: calc(100vh - 104px);
}

.sidebar-admin .body-sidebar:hover::-webkit-scrollbar {
    display: block;
}

.sidebar-admin .body-sidebar::-webkit-scrollbar {
    width: 8px;
    display: none;
}
.sidebar-admin .body-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.sidebar-admin .body-sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(95, 97, 100);
    border-radius: 5px;
}

.sidebar-admin .nav-menu {
    padding: 0;
}

.sidebar-admin .link-nav {
    display: block;
    padding: 12px 20px;
    font-size: 17px;
    border-bottom: 1px solid rgb(139, 139, 139);
    color: #c2c7d0;
}

.sidebar-admin .link-nav.active {
    background-color: rgb(70, 77, 102);
}

.sidebar-admin .link-nav:hover {
    background-color: rgb(86, 93, 117);
}

.sidebar-admin .icon-nav {
    margin-right: 16px;
    font-size: 18px;
}

