.pageLogin .header-join {
    text-align: center;
    text-transform: uppercase;
}

.pageLogin .body-join {
    padding: 10px 247px;
}

.pageLogin .btnSubmitLogin {
    width: 100%;
    background-color: #E14B26;
    color: white;
    border: none;
}
/* fix focus btn */
.pageLogin .btnSubmitLogin:focus {
    outline: none;
    box-shadow: none;    
}
/* end fix focus btn */
.pageLogin .block-remember {
    text-align: center; 
}

.pageLogin .btnSubmitLogin:hover {
    background-color: #e46748;
}
